@media print {
	footer,
	.link {
		display: none;
	}

	body {
		margin-top: 0.5rem;
	}

	hr {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	article,
	section,
	ul {
		break-inside: avoid;
		page-break-inside: avoid;
	}

	section {
		margin-bottom: 8px;
	}

	.skills {
		font-size: 14px;
	}

	p,
	li {
		font-size: 11px;
		color: #000;
	}

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 16px;
		margin-top: 8px;
	}

	h4 {
		font-size: 13px;
	}

	.skills {
		display: grid;
		grid-template-columns: 1fr 3fr;
		justify-content: start !important;
		gap: 4px 12px;
		font-size: 12px;
		margin-top: 4px;
		margin-bottom: 4px;
	}

	.skills > div {
		margin: 0;
		padding: 0;
	}

	.skills > div:nth-child(odd) {
		font-weight: 600;
	}
}
