@import 'tailwindcss';

.inter-regular {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.inter-title {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

@media (width < 48rem /* 768px */) {
	.skills {
		display: grid;
		grid-template-columns: 1fr 3fr;
		justify-content: start !important;
		gap: 4px 12px;
		margin-top: 4px;
		margin-bottom: 4px;
	}

	.skills > div {
		margin: 0;
		padding: 0;
	}

	.skills > div:nth-child(odd) {
		font-weight: 600;
	}
}
